.locationInfos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}

.locationInfos h1 {
    display: flex;
    justify-content: space-between;
    font-size: 2.25rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.localisation {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
}


@media screen and (max-width: 768px) {


.locationInfos {
flex-direction: column;

}

.locationInfosFirst {
    width: 100%;
}

.hostAndRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}


.locationInfos h1 {
    font-size: 1.1rem;

}

.localisation {
    font-size: 0.9rem;
}



}