.mainNav{
    display: flex;
    align-items: center;
}

.navItem {
    font-size: 1.5rem;
    margin-left: 1.75rem;
}

.active {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {

.navItem {
    font-size: 0.75rem;
    margin-left: 0.6rem;
    text-transform: uppercase;
    

}
}