.locationList {
    padding: 2rem;
    background: #f7f7f7;
    border-radius: 25px;
    /* padding: 0.9375rem; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 3.75rem;
}

.locationItem {
    border-radius: 10px;
    width: 100%;
    /* width: 21rem;*/
    height: 21rem;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    /* margin: 1.875rem; */
}

.locationItemFilter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(255, 96, 96, 0.1),
        rgba(255, 96, 96, 0.2) 79%,
        rgba(255, 96, 96, 1) 80%
    );
    z-index: 1;
}

.locationTitle {
    color: white;
    padding: 1.5rem;
    min-height: 1.4rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .locationList {
        background-color: white;
        padding: 0;
        gap: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .locationList a {
        width: 100%;
    }
    .locationItemFilter {
        width: 100%;
    }

    .locationItem {
        height: 16rem;
        width: 100%;
        margin: 0 0 1.5rem 0;
    }

    .locationTitle {
        padding:0 1rem 0.5rem;
        font-size: 1rem;
    }
}
