.locationCaracsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
}

@media screen and (max-width: 768px) {
    .locationCaracsSection {
        display: flex;
        flex-direction: column;
    }
}
