.galleryContainer {
    height: 26.5rem;
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
    margin-bottom: 1.5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.galleryIndicator {
    position: absolute;
    bottom: 1.5rem;
    left: 48%;
    color: white;
    font-size: 1.1rem;
}

.arrowRight {
    position: absolute;
    right: 1.5rem;
    bottom: 40%;
    height: 5rem;
    width: 2.9rem;
    z-index: 2;
    cursor: pointer;
}

.arrowLeft {
    position: absolute;
    left: 1.5rem;
    bottom: 40%;
    height: 5rem;
    width: 2.9rem;
    z-index: 2;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .galleryContainer {
        height: 16rem;
    }

    .arrowLeft {
        height: 1.25rem;
        width: 0.75rem;
        left: 0.36rem;
    }

    .arrowRight {
        height: 1.25rem;
        width: 0.75rem;
        right: 0.36rem;
    }

    .galleryIndicator {
        display: none;
    }
}
