@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

body {
    margin: 0;
    font-family: "MontSerrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ff6060;
    font-weight: 500;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

main {
    padding: 5rem;
    min-height: 95vh;
}

@media screen and (max-width: 768px) {
    main {
        padding: 1.25rem;
    }
}
